<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Mobile_Crypto_Chat_Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <applicationSettings>
    <Mobile_Crypto_Chat_Server.Properties.Settings>
      <setting name="HttpSessionTimeoutSeconds" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="SessionCleanupSeconds" serializeAs="String">
        <value>30</value>
      </setting>
    </Mobile_Crypto_Chat_Server.Properties.Settings>
  </applicationSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  
  <system.serviceModel>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint helpEnabled="true" defaultOutgoingResponseFormat="Json" />
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  
  <connectionStrings>
    <add name="CryptoChatEntities" 
         connectionString="Server=1daa21fb-51c7-4861-a9ab-9fe6018829e8.sqlserver.sequelizer.com;Database=db1daa21fb51c74861a9ab9fe6018829e8;User ID=aemcobkjgpddrjgq;Password=TycqDnA" 
providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>